@import "tailwindcss";

@font-face {
  font-family: "Unison Pro";
  src: url("./assets/fonts/UnisonPro/Type Juice - Unison Pro Light.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Unison Pro";
  src: url("./assets/fonts/UnisonPro/Type Juice - Unison Pro Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Unison Pro";
  src: url("./assets/fonts/UnisonPro/Type Juice - Unison Pro Bold Italic.otf") format("opentype");
  font-weight: 700;
  font-style: italic;
}


@theme {
  /* Couleurs */
  --color-primary: #FFFFFF;
  --color-secondary: #051E42;

  /* Gradient */
  --background-image-tertiary: linear-gradient(
    -90deg,
    #7899C8 0%,
    #D3E7F3 100%
  );

  /* Fonts */
  --font-unison: "Unison Pro", sans-serif;
}


@layer components {
  .text-body {
    @apply font-unison text-base text-primary;
  }
}


body {
  width: 100%;
  min-height: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}