@import "tailwindcss";

@font-face {
  font-family: "Unison Pro";
  src: url("./assets/fonts/UnisonPro/Type Juice - Unison Pro Light.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Unison Pro";
  src: url("./assets/fonts/UnisonPro/Type Juice - Unison Pro Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Unison Pro";
  src: url("./assets/fonts/UnisonPro/Type Juice - Unison Pro Bold Italic.otf") format("opentype");
  font-weight: 700;
  font-style: italic;
}


@theme {
  /* Couleurs */
  --color-primary: #FFFFFF;
  --color-secondary: #051E42;

  /* Gradient */
  --background-image-tertiary: linear-gradient(
    -90deg,
    #7899C8 0%,
    #D3E7F3 100%
  );

  /* Fonts */
  --font-unison: "Unison Pro", sans-serif;
}


@layer components {
  .text-body {
    @apply font-unison text-base text-primary;
  }
}

.Toastify__toast {
    font-family: "Unison Pro", sans-serif !important;
    background: #051E42 !important;
    color: white !important;
    border: 1px solid rgba(255,255,255,0.15);
    border-radius: 16px !important;
    padding-top:10px !important;
    padding-bottom:10px !important;
    font-size: 12px !important;
    font-weight: 500 !important;
    box-shadow: 0 20px 40px rgba(5,30,66,0.4);
    svg{
        fill: var(--color-primary) !important;
      
    }
}


.Toastify__toast-icon {
    color: white !important;
}


.Toastify__progress-bar {
    background: var(--color-primary) !important;
}


.Toastify__close-button {
    color: white !important;
    opacity: 0.7;
}


.Toastify__close-button:hover {
    opacity: 1;
}